body{
    background: rgb(0, 0, 0);
}


/*nav bar*/
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    height: 10em;
    width: 1300px;
    padding-left: 2em;
    padding-top: 2em;
}

#btn-menu{
    display: none;
}

nav label{
    font-size:20px;
    cursor: pointer;
    display: none;
}

.this{
    border: 1px solid #fff;
    max-width: 100px;  
    max-height: 16px;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
}

.links{
    padding-top: 0em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    max-height: 30px;
}


.home{
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    font-weight: 900;
}

a{  
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.exit{
    display: none;
}


/* contenido */

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1300px;
}

/* information */

.info{
    padding-left: 2em;
    max-width: 50%;
    color: #fff;
}

button{
    background: #000;
    color: #fff;
    border: none;
}

/* img & perfil */

.visual{
     max-width: 50%;
     padding: 0;
}


.visual .card{
    margin-left: 200px;
    margin-top: -65px;    
}

.int{
    width: 500px;   
}

.card{
    color: #fff;
    background: #000;
    width: 270px;
    height: 150px;
    box-shadow: 1px 1px rgb(19, 19, 19);
    position: relative;
    
}

.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.perfil{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding: 10px;
    padding-left: 15px;
}

.infoname{
    float: left;
    text-align: left;
}

h3{  
    padding-top: 0;
    padding-left: 15px;
    width: 200%;
}

.profesion{
    color: rgb(129, 129, 129);
}

footer{
    padding-top: 8em;
    text-align: center;
    color: rgb(129, 129, 129);
}

@media (max-width: 768px){
    nav{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: -120px;
        padding-left: 2px;
        width: 80vh;
    }
    

    nav label{
         display: block;
         padding-top: 4px;
    }
    
    
    .links label{
        display: block;
        color: white;
    }    
    
    .links{
        z-index: 1;
        text-align: center;
        position: absolute;
        top: 0px;
        right: 0px;
        padding-top: 40%;
        padding-bottom: 160%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background: #000;
        width: 99%;
        
        transform: translateX(-120%);
        transition: all 300ms;
    }
    
    li{
        padding: 20px;
    }

    .exit{
        display: block;
        padding-left: 80%;
        width: 10px;
        height: 10px;
        font-size: 50px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    
    .info{
        padding-left: 2px;
    }
    
    .int{
        width: 44vh;
        padding: 4px;
        padding-top: 30px;
    }
    
    .visual .card{
        margin-left: 40px;
    }
    
    .card{
        z-index: 0;
    }

    footer{
        padding-top: 3em;
    }
    

    label, a{ 
        -webkit-tap-highlight-color: rgba(0,0,0,0); 
    }
    

    #btn-menu:checked ~ .links{
         transform: translateX(0%);
    }

}
