html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

body{
    background: rgb(0, 0, 0);
}


/*nav bar*/
.bar{
    margin-top: 3%;
    height: 100px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    height: 10em;
    width: 1300px;
}

.bar label{
    display: none;
}

#btn-menu{
    display: none;
}

.this{
    border: 1px solid #fff;
    max-width: 100px;  
    max-height: 16px;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
    margin-left: 35px;
}


a{  
    padding-left: 30px;
    line-height: 50px;
    display: inline-block;
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.exit{
    display: none;
}


/* contenido */

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1300px;
}

/* information */

.info{
    padding-left: 2em;
    max-width: 50%;
    color: #fff;
}

button{
    background: #000;
    color: #fff;
    border: none;
}

/* img & perfil */

.visual{
     max-width: 50%;
     padding: 0;
}


.visual .card{
    margin-left: 200px;
    margin-top: -65px;    
}

.int{
    width: 500px;   
}

.card{
    color: #fff;
    background: #000;
    width: 270px;
    height: 150px;
    box-shadow: 1px 1px rgb(19, 19, 19);
    position: relative;
    
}

.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.perfil{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding: 10px;
    padding-left: 15px;
}

.infoname{
    float: left;
    text-align: left;
}

h3{  
    padding-top: 0;
    padding-left: 15px;
    width: 200%;
}

.profesion{
    color: rgb(129, 129, 129);
}

footer{
    padding-top: 8em;
    text-align: center;
    color: rgb(129, 129, 129);
}

/*Animation hover*/

nav .animation{
    position: absolute;
    height: 4px;
    z-index: 2;
    background: #fff;
    border-radius: 8px;
    transition: all 0.5s ease 0s;
}

nav .start-home, a:nth-child(2):hover~.animation{
    width: 80px;
    left: 670px;
}

a :nth-child(2){
    width: 120px;
}

nav .start-collection, a:nth-child(3):hover~.animation{
    width: 110px;
    left: 760px;
}

a :nth-child(3){
    width: 100px;
}

nav .start-about, a:nth-child(4):hover~.animation{
    width: 90px;
    left: 880px;
}

a :nth-child(4){
    width: 100px;
}

nav .start-contact, a:nth-child(5):hover~.animation{
    width: 90px;
    left: 970px;
}

a :nth-child(5){
    width: 100px;
}



/*------------------Responsive----------------*/

@media (max-width: 768px){

    .bar{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: -120px;
        padding-left: 2px;
        width: 80vh;
    }

    .this{
        margin-left: 4px;
    }
    


    .bar label{
         display: block;
         padding-top: 4px;
    }
    
    
    nav label{
        display: block;
        color: white;
    }    
    
    .links{
        z-index: 5;
        text-align: center;
        position: absolute;
        top: 0px;
        right: 0px;
        padding-top: 40%;
        padding-bottom: 160%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background: #000;
        width: 99%;
        
        transform: translateX(-120%);
        transition: all 500ms;
    }
    
    .exit{
        display: block;
        padding-left: 80%;
        width: 10px;
        font-size: 50px;
        height: 50px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    
    .info{
        padding-left: 2px;
    }
    
    .int{
        width: 44vh;
        padding: 4px;
        padding-top: 30px;
    }
    
    .visual .card{
        margin-left: 40px;
    }
    
    .card{
        z-index: 0;
    }

    footer{
        padding-top: 3em;
    }
    

    label, a{ 
        -webkit-tap-highlight-color: rgba(0,0,0,0); 
    }
    

    #btn-menu:checked ~ .links{
         transform: translateX(0%);
    }
    

    nav .animation{
        left: 150px;
        height: 4px;
        background: #fff;
        border-radius: 8px;
        transition: all 0.01s ease 0s;
        cursor: pointer;
    }
    
    nav .start-home, a:nth-child(2):hover~.animation{
        width: 100px;
        left: 150px;
        top: 240px;
    }
    
    a :nth-child(2){
        width: 120px;
    }
    
    nav .start-collection, a:nth-child(3):hover~.animation{
        width: 110px;
        left: 150px;
        top: 290px;
    }
    
    a :nth-child(3){
        width: 100px;
    }
    
    nav .start-about, a:nth-child(4):hover~.animation{
        width: 90px;
        left: 150px;
        top: 340px;
    }
    
    a :nth-child(4){
        width: 100px;
    }
    
    nav .start-contact, a:nth-child(5):hover~.animation{
        width: 90px;
        left: 150px;
        top: 390px;
    }
    
    a :nth-child(5){
        width: 100px;
    }

}
